
body {
    background-color: tomato;
}
h1 {
    color:blueviolet;
}
h2 {
    color: rgb(9, 95, 84);
}
ul {
    color:rgb(46, 25, 183);
}
p {
    color: rgb(109, 20, 226);
}
img {
    width: 30%;
    border-radius: 45px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}