div {
    text-align: center;
}
body {
    background-color: tomato;
}
h1 {
    color:blueviolet;
}
h2 {
    color: rgb(218, 22, 202);
}
ul {
    list-style: none;
    color:rgb(23, 63, 224);
    font-size: 20px;
}
p {
    color: rgb(49, 14, 174);
}
img {
    width: 30%;
    border-radius: 45px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}